body {
	background: #eee;
	color: #393e46;
    height: 100%;
}

a{
	color: #3498db;	
}

header a{
	color:#fff;
}

header a:hover,
header a:active {
	text-decoration: none;
	color: #ddd;
}

header .active {
	background: rgba(102, 102, 102, 0.40);
	border-radius: 8px;
	/*padding: 10px 5px;*/
}

header {
    background-image: -webkit-gradient(
        linear,
        right top,
        left bottom,
        color-stop(0, #3498DB),
        color-stop(1, #2980B9)
    );
    background-image: -o-linear-gradient(left bottom, #3498DB 0%, #2980B9 100%);
    background-image: -moz-linear-gradient(left bottom, #3498DB 0%, #2980B9 100%);
    background-image: -webkit-linear-gradient(left bottom, #3498DB 0%, #2980B9 100%);
    background-image: -ms-linear-gradient(left bottom, #3498DB 0%, #2980B9 100%);
    background-image: linear-gradient(to left bottom, #3498DB 0%, #2980B9 100%);
}
.navbar{
    margin: 0px;
    border-radius:0px;
}

header h1{
	margin: 0;
}

header .navbar-brand{
	zoom: 0.8;
    height: 0;
    padding-bottom: 150px;
}

header .container {
	padding: 0px 0;
    padding-left: 10px;
	position: relative;
    margin: 0px auto;

}

header nav li {
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	font-size: 25px;
	line-height: 100px;
	padding-right: 0px;
}

.nav {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    padding-top: 35px;
    padding-right: 20px;
}



footer{
	padding: 40px;
}

.content {
	background: white;
	padding: 20px 0;
}

.content article{
    padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

.navbar-toggle {
    background: #2c3e50;
    margin-right: 20px;
}

.nav>li>a:hover, .nav>li>a:focus
{
    background: none;
}
.log{
    position: relative;
    overflow: visible;
    width: 100%;
    margin-bottom: 0px;
    height: 200px;

}
.road{
    display: block;
    width: 50px;
    height: 50px;
    background-color: #2ecc71;
    text-align: center;
    border-radius: 25px;
    line-height: 50px;
    z-index: 100;
}
.description{
    position: absolute;
    display: block;
    background-color: #E3E6E7;
    left: 100px;
    height: 100px;
    top: 20px;
    width: 90%;
    float: left;
    margin-top: 0px;
    padding: 5px 15px;
}



.timeline{
    display: block;
    position: relative;
    background-color: #E3E6E7;
    height: 100%;
    width: 10px;
    top: 0px;
    left: 20px;

}
